p {
  font-weight: bold;
  color: black;
  font-size: 18px; /* Increased font size */
  background-color: none; /* No background */
  padding: 0; /* Remove any padding */
  margin: 0; /* Remove any margin */
}
